body {
margin: 0;
}

a {
    text-decoration: none;
}

.main-container {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
    align-content: center;
    
}


.top-menu {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header-logo {
    font-weight: bolder;
    align-content: flex-end;
}

.header-links {
    display: flex;
    gap: 16px;
    align-content: flex-start;
}

.content-1 {
    padding: 16px 64px;
    align-items: space-between;
    margin: 0 32px;
}

.header-links {
    display: flex;
}

.hero, .footer {
    background-color: #1F2937;
}

.hero {
    display: flex;
    justify-content: space-between;
    
}

.hero-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 8px;
}

.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 8px;
}

.sign-button {
    background-color: #3882F6;
    border-style: none;
    border-radius: 3px;
    padding: 8px 16px;
    margin: 8px;
}

button{

   background-color: #3882F6;
   border-style: none;
   border-radius: 3px;
   color: #E5E7EB;
   font-weight: bold;
      
   
}

.cards-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.content-3 {
    padding: 120px;
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
    background-color: #E5E7EB;
}

.footer, a {
    color: #E5E7EB;
}

.cards-title {
    text-align: center;
}

.content-2 {
    padding: 32px;
    background-color: #F9FAF8;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 32px 60px;
    
}

.text {
    padding: 8px 0;
    text-align: center;
    justify-content: center;
}

.quote-text {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.writer {
text-align: right;
color: #1F2937;
font-weight: bold;
font-size: 18px;
padding-right: 48px;
}

.card {
    width: 200px;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 16px
    
}

.content-4 {
    margin: 5%;
    background-color: #3882F6;
    display: flex;
    padding: 32px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
    gap: 48px;
    
}

.c4 {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;

}

.action-text {
    font-size: 18px;
    color: #E5E7EB;
    gap: 8px;

}

.action-button {
    background-color: #3882F6;
    border-style: solid;
    border-color: #E5E7EB;
    border-radius: 3px;
    padding: 8px 16px;
}

.text-main {
    font-weight: bold;
    font-size: 24px;
}

.text-sub {
    font-weight: lighter;
    font-size: 18px;
}

.margito {
    margin-right: 60px;
    margin-left: 60px;
}

.footer {
    margin: 24px;
    text-align: center;
}